html {
    margin: 0;
    height: 100%;
    width: 100%;

    display: flex;
}


nav {


    display: flex;
    justify-content: space-around;
}

a:link {
    color: white;
    text-decoration: none;
    justify-content: space-between;
    font-size: 27px;

}

.center {
    text-align: center;
    padding: 5px;


}

img{ width:  50%;
    margin-top: 60px;
 border: 2px solid black;
 padding: 20px;
background-color: white;}


body {
    background-image: url(tropical-leaf-background-vector-20693076.jpg);
    background-repeat:repeat;
    background-size: cover;
    /*background-color: lightblue;*/
}
p {
    background-color: white;
     border: 2px solid black;
    padding: 20px;

}

h1, h3{color: white;
text-align: center;}

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    /*border: solid 1px;*/
    margin-bottom: 1em;
}

#om .column {
    flex-basis: 400px;
    flex-grow: 1;
    margin-left: 10px;
}



